body{
    margin: 0;
}

#header {
    margin: 0;
    background: rgb(255, 241, 201);
    font-family: cursive;
    display: flex;
    flex-direction: row;
    height: 10vh;
    min-height: 40px;
    max-height: 90px;
}

footer {
    margin: 0;
}

#service-name{
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    height: auto;
    font-size: 4vh;
}

#service-name-container {
    margin-left: 5%;
    height: auto;
    display: table;
    vertical-align: middle;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2vh;
    font-size: 1.5vh;
    display: table-cell;
    vertical-align: middle;
}

.profile-container {
    margin-left: auto;
    margin-right: 5%;
    height: auto;
    display: table;
    vertical-align: middle;
}

.profile-image{
    height: 7vh;
    width: auto;
    border-radius: 100%;
}

.user-name-container{
    margin: auto auto auto 1.2%;
    display: table;
    vertical-align: middle;
}
.user-name{
    font-size: 3.5vh;
    display: table-cell;
    vertical-align: middle;
}