#search-row{
    margin: 2vh auto 2vh auto;
    width: 80%;
    height: 7vh;
}

form{
    margin: auto;
    width: 100%;
    height: 6vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

#search-row-field{
    width: 80%;
    height: 6vh;
    outline: 0;
    border: 0;
    display: block;
    margin: 0;
    border-radius: 25px 0 0 25px;

}
#search-row-submit{
    width: 20%;
    height: 6vh;
    outline: 0;
    border: 1px rgba(238, 238, 238, 0.93);
    display: block;
    margin: 0;
    border-radius: 0 25px 25px 0;
}
#search-row-field:hover{
    cursor: auto;
}
#search-row-submit:hover{
    cursor: pointer;
}



#route-preview-container {
    margin: 1vh auto 1vh auto;
    width: 80%;
}


.route-preview{
    border: 3px rgba(234, 217, 196, 0.87) solid;
    border-radius: 12px;
    background: rgba(255, 242, 227, 0.87);
}
.route-name-and-star-container{
    display: flex;
    flex-direction: row;
    margin: 2vh auto 2vh auto;
}
.route-name-container{
    margin-left: 5%;
    height: auto;
    display: table;
    vertical-align: middle;
}
.route-name{
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    height: auto;
    font-size: 3vh;
}
.stars-container{
    margin-left: auto;
    margin-right: 5%;
    height: auto;
    display: table;
    vertical-align: middle;
}
.stars-img{
    height: 2.5vh;
    width: auto;
}
.autor-name{
    margin: 1vh auto 1vh 5%;
    font-size: 2.5vh;
}
.tags-container{
    display: flex;
    flex-direction: row;
    margin: 2vh auto 2vh 5%;
}
.simple-tag{
    background-color: rgba(222, 50, 89, 0.49);
    margin: 2vh 2% 2vh 0;
    border: 1px solid rgba(222, 50, 89, 0.22);
    border-radius: 2px;
    min-width: 40px;
    text-align: center;
    font-size: 1.5vh;
}